footer {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  height: 250px;
  width: 100%;
  background-color: rgba(180, 180, 180, 0.644);

  .footerInfo {
    width: 25%;
    height: 100%;

    h1 {
      text-align: center;
      font-variant: small-caps;
      font-size: 24px;
    }

    ul {
      text-align: center;
      list-style-type: none;

      li {
        font-size: 15px;
        padding-bottom: 10px;
      }
    }
  }
}
